header {
    background: #beb6b6;
    color: #fff;
    padding: 30px 0px 30px 30px;
    min-height: 50px;
    border-bottom: #3c3c3c 2px solid;
}

header img {
    max-height: 50px;
    width: 200px;
    filter: contrast(3.5);
}