h1 {
    text-align: center;
    margin-bottom: 20px;
}

.wishlist-container {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 20px;
    height: 100%;
}

.wishlist-page {
    max-width: 1200px;
    width: 75%;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    height: 680px;
    overflow: auto;
}

.wishlist-items {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
}

.wishlist-product-card {
    display: flex;
    align-items: center;
    align-self: center;
    border: 1px solid #3c3c3c;
    border-radius: 8px;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.product-image img {
    width: 100px;
    height: auto;
    margin-right: 20px;
}

.product-details {
    flex-grow: 1;
}

.product-name {
    margin: 0 0 10px;
}

.product-description {
    font-size: 1em;
    color: #3c3c3c;
    margin: 0 0 10px;
}

.product-price {
    font-size: 1.2em;
    color: #339dbd;
    margin-bottom: 10px;
    display: block;
}

.button-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.button-control button {
    background-color: #339dbd;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
}

.button-control button:hover {
    background-color: #0056b3;
}