<div class="body-container">
    <app-left-sidebar class="left-sidebar" (selectedFilters)="hangleApplyFilters($event)"></app-left-sidebar>
    <ng-container *ngIf="products?.length else noProducts">
        <div class="product-list">
            <app-product-card *ngFor="let product of products" [product]="product"></app-product-card>
        </div>
    </ng-container>
    <ng-template #noProducts>
        <div class="no-products" *ngIf="!products?.length">
            <strong>No Products Found</strong>
        </div>
    </ng-template>
</div>