nav {
    display: flex;
    justify-content: space-between;
    background-color: #023864;
    padding: 0px 18px;
}

.nav-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-container ul {
    margin: 0px;
}

li {
    margin: 0 10px;
    text-decoration: none;
    font-family: serif;
    color: #f1efef;
    padding: 10px 15px;
    display: inline-block;
}

li:hover {
    background-color: #f1efef;
    cursor: pointer;
    color: #023864;
}

.selected-category {
    background-color: #f1efef;
}

.cart {
    position: relative;
    display: inline-block;
    font-size: 24px;
}

.cart-icon {
    font-size: 35px;
}

.cart-icon:hover {
    background-color: #beb6b6;
    cursor: pointer;
}

.cart-count {
    position: absolute;
    top: -10px;
    right: -14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
}

.cart-wishlist {
    display: flex;
    position: relative;
    font-size: 24px;
    gap: 15px;
}

.wishlist-icon {
    font-size: 35px;
}

.wishlist-icon:hover {
    background-color: #beb6b6;
    cursor: pointer;
}