nav {
    display: flex;
    justify-content: center;
    background-color: #339dbd;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}


li {
    margin: 0 10px;
    text-decoration: none;
    font-family: serif;
    color: #333;
    padding: 10px 15px;
    display: inline-block;
}

li:hover {
    background-color: #beb6b6;
    cursor: pointer;
}

.my_class {
    /* background-color: #f2f3f3 */
    background-color: #beb6b6;
    ;
}