<div class="filter-section">
    <h3>Filters</h3>
    <app-multiselect-dropdown [brands]="allbrands"
        (selectedBrandsChange)="onBrandChangeHandler($event)"></app-multiselect-dropdown>

    <app-rating-filter (ratingChange)="onRatingChangeHandler($event)"></app-rating-filter>
    <app-price-filter (selectedPriceRange)="onSelectPriceRange($event)"></app-price-filter>

    <div class="apply-filter-button">
        <button class="apply-filter" (click)="onApplyFilters()">Apply Filters</button>
        <button class="clear-filter" (click)="onClearFilters()">Clear Filters</button>
    </div>
</div>